{% extends "base.html" %}
	
	{% block title %} Carga de datos {% endblock %}

	{% block content %}
	
	<!-- Area de visualización de contenedores -->

	<h3>Contenedores registrados</h3>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-3">
				<div class="input-group input-group-sm mb-3">
  					<span class="input-group-text" id="inputGroup-sizing-sm">Buscador</span>
  					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
				</div>
			</div>
			<div class="col-3">
				<div class="row">
					<span class="text-center">ISOS</span>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="22G1" checked>
  							<label class="form-check-label" for="22G1">22G1</label>
						</div>
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="22U1" checked>
  							<label class="form-check-label" for="22U1">22U1</label>
						</div>
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="22P3" checked>
  							<label class="form-check-label" for="22P3">22P3</label>
						</div>
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="22R1" checked>
  							<label class="form-check-label" for="22R1">22R1</label>
						</div>
					</div>
					<!-- 40 -->
					<div class="col">
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="42G1" checked>
  							<label class="form-check-label" for="22G1">42G1</label>
						</div>
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="42U1" checked>
  							<label class="form-check-label" for="42U1">42U1</label>
						</div>
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="42P3" checked>
  							<label class="form-check-label" for="42P3">42P3</label>
						</div>
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="45R1" checked>
  							<label class="form-check-label" for="45R1">45R1</label>
						</div>
					</div>
					<!-- 45 -->
					<div class="col">
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="45G1" checked>
  							<label class="form-check-label" for="45G1">45G1</label>
						</div>
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="45P3" checked>
  							<label class="form-check-label" for="45P3">45P3</label>
						</div>
						
					</div>
					
					
				</div>
			</div>
			<div class="col-3">
				<div class="row">
					<span class="text-center">STATUS</span>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="AV" checked>
  							<label class="form-check-label" for="AV">AV</label>
						</div>
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="AA" checked>
  							<label class="form-check-label" for="AA">AA</label>
						</div>
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="DAM" checked>
  							<label class="form-check-label" for="DAM">DAM</label>
						</div>
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="DAPP" checked>
  							<label class="form-check-label" for="DAPP">DAPP</label>
						</div>
					</div>
					<div class="col">
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="NR" checked>
  							<label class="form-check-label" for="NR">NR</label>
						</div>
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="UR" checked>
  							<label class="form-check-label" for="UR">UR</label>
						</div>
						<div class="form-check">
  							<input class="form-check-input" type="checkbox" value="" id="AWC" checked>
  							<label class="form-check-label" for="AWC">AWC</label>
						</div>
					</div>
				</div>
			</div>

			<div class="col-3">
				<div class="row">
					<div class="col">
						<div class="row">
							<span class="text-center">GRADO</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-check">
  						<input class="form-check-input" type="checkbox" value="" id="GC" checked>
  						<label class="form-check-label" for="GC">GC</label>
					</div>
				</div>
			</div>
		
		</div>
	<table class="table table-sm">
		<thead>
			<tr>
				<th scope="col">Contenedor</th>
				<th scope="col">ISO</th>
				<th scope="col">GRADE</th>
				<th scope="col">STATUS</th>
				<th scope="col">OFAC</th>
				<th scope="col">BLOCK</th>
				<th scope="col">TRASLADO</th>
				<th scope="col">REMARKS</th>
			</tr>
		</thead>
		<tbody>
			
				{% if containers %}
				{% for c in containers %}
				<tr>
				<td scope="col">{{c.containerNo}}</td>
				<td scope="col">{{c.iso}}</td>
				<td scope="col">{{c.grado}}</td>
				<td scope="col">{{c.status}}</td>
				<td scope="col">{{c.ofacc}}</td>
				<td scope="col">{{c.block}}</td>
				<td scope="col">{{c.traslado}}</td>
				<td scope="col text-sm">{{c.remark}}</td>
				</tr>
				{% endfor %}
				{% endif %}

			
		</tbody>
	</table>

	
	
		{% endblock %}
